/* @import "./rose-pine-dawn.css"; */
@import "./rose-pine.css";

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font Mono";
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: @text;
}

tooltip {
  background: @base;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: @overlay;
}

#workspaces button {
  padding: 1px 5px;
}

#workspaces button:not(:last-child) {
  margin-right: 5px;
}

#workspaces button.active {
  color: @text;
}

#workspaces button.focused {
  color: @love;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: @base;
  background: @pine;
  border-radius: 10px;
}

#workspaces button:hover {
  background: @highlightLow;
  color: @text;
  border-radius: 10px;
}

#mode {
  margin-left: 10px;
  /*   background: #64727D; */
  /*   border-bottom: 3px solid white; */
}

#workspaces {
  background-color: @love;
  background: @base;
  opacity: 0.9;
  padding: 0px 10px;
  margin: 3px 0px 3px 3px;
  border: 1px solid @overlay;
  border-radius: 10px;
}

/* #window, */
#clock,
#cpu,
#temperature,
#memory,
#custom-gpu,
#network,
#pulseaudio,
#custom-spotify,
#tray,
#custom-wireguard,
#custom-screenshare,
#language,
#custom-powermenu {
  background: @base;
  opacity: 0.9;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 3px;
  border: 1px solid @overlay;
}

#custom-screenshare {
  margin-right: 10px;
  border-radius: 10px;
  color: @love;
}

#custom-wireguard {
  border-radius: 10px 0 0 10px;
}

#custom-gpu {
  margin-right: 10px;
  border-radius: 0px 10px 10px 0px;
}

/* #custom-notification { */
/*   padding: 0 3px 0 1px; */
/*   font-family: "NotoSansMono Nerd Font"; */
/* } */

#clock {
  color: @gold;
  border-radius: 10px;
}

#window,
#scratchpad {
  margin-left: 10px;
}

#language {
  background-color: @text;
  border-color: @text;
  padding: 0 3px;
  border-radius: 5px;
  color: @base;
  margin-right: 10px;
}

#tray {
  color: @text;
  border-radius: 10px;
  margin-right: 10px;
}

tooltip label {
  color: @text;
  text-shadow: none;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
  background: #f53c3c;
}

#pulseaudio {
  font-size: 14px;
  padding: 0 3px 0 1px;
  border-radius: 10px 0 0 10px;
}

#pulseaudio.muted {
  padding: 0 3px 0 1px;
}

#custom-powermenu {
  margin-right: 3px;
  padding: 0 3px 0 1px;
  border-radius: 0px 10px 10px 0px;
  color: @love;
}
